$white: #fff;
$black: #000;
$black-bold: #0a0c0d;
$black-soft: #2d2d2d;
$black-soft1: #3d4044;
$box-shadow: rgba(105, 105, 105, 0.22);
$search-shadow: rgba(174, 174, 174, 0.5);
$divider-gray: #989ca1;
$background-beige: #f3f4ee;
$searchbar-border: #d9dee3;
$search-separator_bg: #d8d8d8;

$green-dark: #0d6a4f;
$green-dark-deep: #09513c;
$green: #1dc191;
$green-extra-light: #d2f3e9;
$green-light: #69e6b9;
$green-lighter: #c1f3dd;

$blue-deep: #040749;
$purple: #9156c0;

$red: #ff5555;
$redSuggested: #ff1d39;
$greenSuggested: #09513c;

$light-grey: #e2e2e2;
$medium-grey: #e7e7e7;
$dark-grey: #989ca1;
$darker-grey: #979797;
$border-grey: #cbcdd0;
$gray-light: #d9dee3;
$title-grey: #6e7377;
$milky: #f3f4ee;
$milky-light: #f5f8f9;
$header-grey: #eceff1;
$header-blue: #3f72a4;

$search-title-blue: #3d89b7;
$search-no-results-green: #55e0b5;
$search-title-green: #12ac7f;
$search-item-text: #070809;
$search-categories-title: #0a0c0d;
$overlay-bg: rgba(47, 47, 47, 0.75);
$search-separator: #e2dfdf;
$new-tab: #706e5b;
$circle-btn: #effbf6;
$search-answer: #effbf6;
$get-answer-shadow: rgba(105, 105, 105, 0.22);
$get-answer-shadow-dark: rgba(0, 0, 0, 0.2);
$checkbox-green: #69e6b9;
$dark-grey-title: #323232;
$suggestions-background: #d2f3e9;
$outline-color: #000;

$wheat: wheat;
$category-background: #fff;
$category-text: #6e7377;
$category-background-selected: #d2f3e9;
$category-text-selected: #09513c;

$gradient: linear-gradient(to bottom, rgba(239, 251, 246, 0) -72%, #effbf6 87%, #fff 87%, #effbf6 87%);
$white-gradient: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);

$primary-500: #119770;
$neutral-20: #f5f8f9;
